trigger:
- main

variables:
  - group: TF_CREDS
  - name: terraformVersion
    value: '1.6.6'


stages:
# -------------------------------
# DEV ENVIRONMENT (ACTIVE)
# -------------------------------
- stage: DEV
  displayName: "Terraform Deploy - DEV"
  jobs:
  - job: Terraform_Dev
    displayName: "Run Terraform for Dev"
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(terraformVersion)

    - task: AzureCLI@2
      displayName: "Azure CLI Login"
      inputs:
        azureSubscription: "multiterra"
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Azure CLI authenticated"
          az account show

    - task: Bash@3
      displayName: "Terraform Init - Dev"
      inputs:
        targetType: 'inline'
        script: |
          cd env/dev
          export ARM_CLIENT_ID=$(ARM_CLIENT_ID)
          export ARM_CLIENT_SECRET=$(ARM_CLIENT_SECRET)
          export ARM_TENANT_ID=$(ARM_TENANT_ID)
          export ARM_SUBSCRIPTION_ID=$(ARM_SUBSCRIPTION_ID)

          terraform init

    - task: Bash@3
      displayName: "Terraform Validate - Dev"
      inputs:
        targetType: 'inline'
        script: |
          cd env/dev
          export ARM_CLIENT_ID=$(ARM_CLIENT_ID)
          export ARM_CLIENT_SECRET=$(ARM_CLIENT_SECRET)
          export ARM_TENANT_ID=$(ARM_TENANT_ID)
          export ARM_SUBSCRIPTION_ID=$(ARM_SUBSCRIPTION_ID)
          terraform validate

    - task: Bash@3
      displayName: "Terraform Plan - Dev"
      inputs:
        targetType: 'inline'
        script: |
          cd env/dev
          export ARM_CLIENT_ID=$(ARM_CLIENT_ID)
          export ARM_CLIENT_SECRET=$(ARM_CLIENT_SECRET)
          export ARM_TENANT_ID=$(ARM_TENANT_ID)
          export ARM_SUBSCRIPTION_ID=$(ARM_SUBSCRIPTION_ID)
          terraform plan -out=tfplan

#    - task: Bash@3
#     displayName: "Terraform Apply - Dev"
#      inputs:
#        targetType: 'inline'
#        script: |
#          cd env/dev
#          terraform apply -auto-approve tfplan


# -----------------------------------------
# QA ENVIRONMENT (COMMENTED / DISABLED NOW)
# -----------------------------------------
# - stage: QA
#   displayName: "Terraform Deploy - QA"
#   dependsOn: DEV
#   condition: succeeded()
#   jobs:
#   - job: Terraform_QA
#     pool:
#       vmImage: 'ubuntu-latest'
#     steps:
#     - bash: |
#         cd env/qa
#         terraform init
#         terraform validate
#         terraform plan -out=tfplan
#         terraform apply -auto-approve tfplan
#       displayName: "Run Terraform for QA"


# -----------------------------------------
# UAT ENVIRONMENT (COMMENTED)
# -----------------------------------------
# - stage: UAT
#   displayName: "Terraform Deploy - UAT"
#   dependsOn: QA
#   condition: succeeded()
#   jobs:
#   - job: Terraform_UAT
#     pool:
#       vmImage: 'ubuntu-latest'
#     steps:
#     - bash: |
#         cd env/uat
#         terraform init
#         terraform validate
#         terraform plan -out=tfplan
#         terraform apply -auto-approve tfplan
#       displayName: "Run Terraform for UAT"


# -----------------------------------------
# PREPROD ENVIRONMENT (COMMENTED)
# -----------------------------------------
# - stage: PREPROD
#   displayName: "Terraform Deploy - PreProd"
#   dependsOn: UAT
#   condition: succeeded()
#   jobs:
#   - job: Terraform_PreProd
#     pool:
#       vmImage: 'ubuntu-latest'
#     steps:
#     - bash: |
#         cd env/preprod
#         terraform init
#         terraform validate
#         terraform plan -out=tfplan
#         terraform apply -auto-approve tfplan
#       displayName: "Run Terraform for PreProd"


# -----------------------------------------
# PROD ENVIRONMENT (COMMENTED)
# -----------------------------------------
# - stage: PROD
#   displayName: "Terraform Deploy - Prod"
#   dependsOn: PREPROD
#   condition: succeeded()
#   jobs:
#   - job: Terraform_Prod
#     pool:
#       vmImage: 'ubuntu-latest'
#     steps:
#     - bash: |
#         cd env/prod
#         terraform init
#         terraform validate
#         terraform plan -out=tfplan
#         terraform apply -auto-approve tfplan
#       displayName: "Run Terraform for Prod"
